<div class="col-xs-3">
	<h1>User info</h1>

	<%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "no_image.jpg"%>

	<p>name:<%= user.name %></p>

	<p>introduction:<%= user.introduction %></p>

	<% unless current_user == user %>
	    <% if current_user.following?(user) %>
	    	<%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
		      	<%= hidden_field_tag :follow_id, user.id %>
		      	<%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
	    	<% end %>
	  	<% else %>
	    	<%= form_for(current_user.relationships.build) do |f| %>
			    <%= hidden_field_tag :follow_id, user.id %>
			    <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
	    	<% end %>
	  	<% end %>
	<% end %>


	<% if user.id == current_user.id %>
		<%= link_to edit_user_path(user.id) do %>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <!-- aria-hiddenは読み飛ばし機能 -->
		<% end %>
	<% end %>

	<h1>New book</h1>
	<%= form_for(book) do |f| %>

		<p>Title</p>
		<%= f.text_field :title, class: "newbook-form" %>

		<p>Opinion</p>
		<%= f.text_area :body, class: "newbook-form" %>

		<input type="submit" value="Create Book" class="newform" >

	<% end %>
</div>