<div class="col-xs-3">
	<h1>User info</h1>
	<%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "no_image.jpg"%>
	<table width="350">
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>follows</th>
			<th><%= link_to user.followings.count, follows_user_path(user) %></th>
		</tr>

		<tr>
			<th>followers</th>
			<th><%= link_to user.followers.count, followers_user_path(user) %></th>
		</tr>
	</table>

	<% unless current_user == user %>
	    <% if current_user.following?(user) %>
	    	<%= render 'users/unfollow', user: user %>
	  	<% else %>
	    	<%= render 'users/follow', user: user %>
	  	<% end %>
	<% end %>

	<% if user.id == current_user.id %>
		<%= link_to edit_user_path(user.id) do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <!-- aria-hiddenは読み飛ばし機能 -->
		<% end %>
	<% end %>

	<h1>New book</h1>
	<%= form_for(book) do |f| %>

		<p>Title</p>
		<%= f.text_field :title, class: "newbook-form" %>

		<p>Opinion</p>
		<%= f.text_area :body, class: "newbook-form" %>

		<input type="submit" value="Create Book" class="newform" >

	<% end %>
</div>