<main>
	<h1>User info</h1>

	<% if @user.errors.any? %>
	<%= @user.errors.count %>error prohibited this user from being saved:<br>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	<% end %>

	<%= form_for(@user) do |f| %>
		<p>Name
		<%= f.text_field :name %></p>

		<p>Image</p>
		<!-- 画像選択用のボタン -->
		<%= f.attachment_field :profile_image %> <!-- カラムはprofile_image_idだが、_idは省く -->

		<p>Introduction
		<%= f.text_area :introduction %></p>

		<p><%= f.submit 'Update User' %></p>

	<% end %>
</main>